In [3]:
import requests
import pandas as pd
import numpy as np
import random
!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [4]:
# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [6]:
CLIENT_ID = 'WKFAVNAIRLPPY5USSMN31PYXFLYTO1XKLGH04V50RBXVMXO1' # your Foursquare ID
CLIENT_SECRET = 'Z3LRCUNWXAQSKWAN5HCLJVYZIMGFKCWI54WH3BQJFDJQ5ZHB' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30

In [7]:
address = '102 North End Ave, New York, NY'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude

In [8]:
para = {'client_id':CLIENT_ID,'client_secret':CLIENT_SECRET,'ll':str(latitude)+','+str(longitude),'v':VERSION}

In [12]:
para

{'client_id': 'WKFAVNAIRLPPY5USSMN31PYXFLYTO1XKLGH04V50RBXVMXO1',
 'client_secret': 'Z3LRCUNWXAQSKWAN5HCLJVYZIMGFKCWI54WH3BQJFDJQ5ZHB',
 'll': '40.7151482,-74.0156573',
 'v': '20180604'}

In [13]:
url = 'https://api.foursquare.com/v2/venues/search'

In [14]:
para['query'] = 'Italian'

In [51]:
para['radius'] = 500

In [72]:
results = requests.get(url,params=para)

In [73]:
results  =results.json()

In [74]:
venues = results['response']['venues']

In [75]:
dataframe = json_normalize(venues)
dataframe.head()

,id,name,categories,referralId,hasPerk,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress
0,4fa862b3e4b0ebff2f749f06,Harry's Italian Pizza Bar,"[{'id': '4bf58dd8d48988d1ca941735', 'name': 'P...",v-1595406110,False,225 Murray St,40.715218,-74.014739,"[{'label': 'display', 'lat': 40.71521779064671...",77,10282,US,New York,NY,United States,"[225 Murray St, New York, NY 10282, United Sta..."
1,4f3232e219836c91c7bfde94,Conca Cucina Italian Restaurant,"[{'id': '4d4b7105d754a06374d81259', 'name': 'F...",v-1595406110,False,63 W Broadway,40.714484,-74.009806,"[{'label': 'display', 'lat': 40.71448400000000...",499,10007,US,New York,NY,United States,"[63 W Broadway, New York, NY 10007, United Sta..."

In [76]:
cols = ['name','categories'] + [col for col in dataframe.columns if col.startswith('location')] + ['id']

In [77]:
cols

['name',
 'categories',
 'location.address',
 'location.lat',
 'location.lng',
 'location.labeledLatLngs',
 'location.distance',
 'location.postalCode',
 'location.cc',
 'location.city',
 'location.state',
 'location.country',
 'location.formattedAddress',
 'id']

In [79]:
dataframe_filtered = dataframe.loc[:,cols]

In [80]:
dataframe_filtered.head

<bound method NDFrame.head of                               name  \
0        Harry's Italian Pizza Bar
1  Conca Cucina Italian Restaurant

                                          categories location.address  \
0  [{'id': '4bf58dd8d48988d1ca941735', 'name': 'P...    225 Murray St
1  [{'id': '4d4b7105d754a06374d81259', 'name': 'F...    63 W Broadway

   location.lat  location.lng  \
0     40.715218    -74.014739
1     40.714484    -74.009806

                             location.labeledLatLngs  location.distance  \
0  [{'label': 'display', 'lat': 40.71521779064671...                 77
1  [{'label': 'display', 'lat': 40.71448400000000...                499

  location.postalCode location.cc location.city location.state  \
0               10282          US      New York             NY
1               10007          US      New York             NY

  location.country                          location.formattedAddress  \
0    United States  [225 Murray St, New York, NY 10282, United Sta...
1    United States  [63 W Broadway, New York, NY 10007, United Sta...

                         id
0  4fa862b3e4b0ebff2f749f06
1  4f3232e219836c91c7bfde94  >

In [81]:
dataframe_filtered

,name,categories,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress,id
0,Harry's Italian Pizza Bar,"[{'id': '4bf58dd8d48988d1ca941735', 'name': 'P...",225 Murray St,40.715218,-74.014739,"[{'label': 'display', 'lat': 40.71521779064671...",77,10282,US,New York,NY,United States,"[225 Murray St, New York, NY 10282, United Sta...",4fa862b3e4b0ebff2f749f06
1,Conca Cucina Italian Restaurant,"[{'id': '4d4b7105d754a06374d81259', 'name': 'F...",63 W Broadway,40.714484,-74.009806,"[{'label': 'display', 'lat': 40.71448400000000...",499,10007,US,New York,NY,United States,"[63 W Broadway, New York, NY 10007, United Sta...",4f3232e219836c91c7bfde94

In [52]:
dataframe_filtered

,name,categories,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,location.postalCode,location.cc,location.city,location.state,location.country,location.formattedAddress,id
0,Harry's Italian Pizza Bar,"[{'id': '4bf58dd8d48988d1ca941735', 'name': 'P...",225 Murray St,40.715218,-74.014739,"[{'label': 'display', 'lat': 40.71521779064671...",77,10282,US,New York,NY,United States,"[225 Murray St, New York, NY 10282, United Sta...",4fa862b3e4b0ebff2f749f06
1,Conca Cucina Italian Restaurant,"[{'id': '4d4b7105d754a06374d81259', 'name': 'F...",63 W Broadway,40.714484,-74.009806,"[{'label': 'display', 'lat': 40.71448400000000...",499,10007,US,New York,NY,United States,"[63 W Broadway, New York, NY 10007, United Sta...",4f3232e219836c91c7bfde94

In [82]:
dataframe_filtered.columns = [col.split('.')[-1] for col in dataframe_filtered.columns]

In [83]:
dataframe_filtered

,name,categories,address,lat,lng,labeledLatLngs,distance,postalCode,cc,city,state,country,formattedAddress,id
0,Harry's Italian Pizza Bar,"[{'id': '4bf58dd8d48988d1ca941735', 'name': 'P...",225 Murray St,40.715218,-74.014739,"[{'label': 'display', 'lat': 40.71521779064671...",77,10282,US,New York,NY,United States,"[225 Murray St, New York, NY 10282, United Sta...",4fa862b3e4b0ebff2f749f06
1,Conca Cucina Italian Restaurant,"[{'id': '4d4b7105d754a06374d81259', 'name': 'F...",63 W Broadway,40.714484,-74.009806,"[{'label': 'display', 'lat': 40.71448400000000...",499,10007,US,New York,NY,United States,"[63 W Broadway, New York, NY 10007, United Sta...",4f3232e219836c91c7bfde94

In [85]:
def get_category_type(row):
    
    categories_list = row['categories']
 
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
dataframe_filtered['categories'] = dataframe_filtered.apply(get_category_type, axis=1)

In [86]:
dataframe_filtered

,name,categories,address,lat,lng,labeledLatLngs,distance,postalCode,cc,city,state,country,formattedAddress,id
0,Harry's Italian Pizza Bar,Pizza Place,225 Murray St,40.715218,-74.014739,"[{'label': 'display', 'lat': 40.71521779064671...",77,10282,US,New York,NY,United States,"[225 Murray St, New York, NY 10282, United Sta...",4fa862b3e4b0ebff2f749f06
1,Conca Cucina Italian Restaurant,Food,63 W Broadway,40.714484,-74.009806,"[{'label': 'display', 'lat': 40.71448400000000...",499,10007,US,New York,NY,United States,"[63 W Broadway, New York, NY 10007, United Sta...",4f3232e219836c91c7bfde94

In [87]:
venues_map = folium.Map(location=[latitude, longitude], zoom_start=13) # generate map centred around the Conrad Hotel

# add a red circle marker to represent the Conrad Hotel
folium.features.CircleMarker(
    [latitude, longitude],
    radius=10,
    color='red',
    popup='Conrad Hotel',
    fill = True,
    fill_color = 'red',
    fill_opacity = 0.6
).add_to(venues_map)

In [88]:
venues_map

In [89]:
for lat, lng, label in zip(dataframe_filtered.lat, dataframe_filtered.lng, dataframe_filtered.categories):
    folium.features.CircleMarker(
        [lat, lng],
        radius=5,
        color='blue',
        popup=label,
        fill = True,
        fill_color='blue',
        fill_opacity=0.6
    ).add_to(venues_map)

In [90]:
venues_map

In [24]:
venue_id = '3fd66200f964a520f4e41ee3'

In [92]:
para

{'client_id': 'WKFAVNAIRLPPY5USSMN31PYXFLYTO1XKLGH04V50RBXVMXO1',
 'client_secret': 'Z3LRCUNWXAQSKWAN5HCLJVYZIMGFKCWI54WH3BQJFDJQ5ZHB',
 'll': '40.7151482,-74.0156573',
 'v': '20180604',
 'query': 'Italian',
 'radius': 500}

In [20]:
para2 = {'client_id': 'WKFAVNAIRLPPY5USSMN31PYXFLYTO1XKLGH04V50RBXVMXO1',
 'client_secret': 'Z3LRCUNWXAQSKWAN5HCLJVYZIMGFKCWI54WH3BQJFDJQ5ZHB','v': '20180604'}

In [25]:
url_2 = 'https://api.foursquare.com/v2/venues/'+venue_id

In [12]:
url_2

'https://api.foursquare.com/v2/venues/4fa862b3e4b0ebff2f749f06'

In [26]:
result = requests.get(url_2,params=para2).json()

In [27]:
try:
    print(result['response']['venue']['rating'])
except:
    print('This venue has not been rated yet.')

7.3

In [29]:
result['response']['venue']['tips']

{'count': 19,
 'groups': [{'type': 'others',
   'name': 'All tips',
   'count': 19,
   'items': [{'id': '4c7ac41f278eb713ae245c80',
     'createdAt': 1283114015,
     'text': 'Old world comfort where you can enjoy veal chop alla salvia, lobster fra diavolo and branzino al forno. You can get our free Downtown dining guide at http://www.downtownny.com/mapsguides/',
     'entities': [{'indices': [150, 187],
       'type': 'url',
       'object': {'url': 'http://www.downtownny.com/mapsguides/'}}],
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/4c7ac41f278eb713ae245c80',
     'lang': 'en',
     'likes': {'count': 2,
      'groups': [{'type': 'others',
        'count': 2,
        'items': [{'id': '9386209',
          'firstName': 'The Official Khalis',
          'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
           'suffix': '/9386209-XJKHDWP30AUDGT4H.jpg'}}]}],
      'summary': '2 likes'},
     'logView': True,
     'agreeCount': 2,
     'disagreeCount': 0,
     'todo': {'count': 5},
     'user': {'id': '2901547',
      'firstName': 'Downtown',
      'lastName': 'A',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/TQWAQFUYL5LWNK2M.jpg'}}}]}]}

In [31]:
url_3 = 'https://api.foursquare.com/v2/venues/'+venue_id+'/tips'

In [32]:
result = requests.get(url_3,params=para2).json()

In [33]:
result

{'meta': {'code': 200, 'requestId': '5f187262a2bad162cf0f2e5e'},
 'response': {'tips': {'count': 19,
   'items': [{'id': '5ab1cb46c9a517174651d3fe',
     'createdAt': 1521601350,
     'text': 'A+ Italian food! Trust me on this: my moms side of the family is 100% Italian. I was born and bred to know good pasta when I see it, and Ecco is one of my all-time NYC favorites',
     'type': 'user',
     'canonicalUrl': 'https://foursquare.com/item/5ab1cb46c9a517174651d3fe',
     'lang': 'en',
     'likes': {'count': 0, 'groups': []},
     'logView': True,
     'agreeCount': 4,
     'disagreeCount': 0,
     'todo': {'count': 0},
     'user': {'id': '484542633',
      'firstName': 'Nick',
      'lastName': 'E',
      'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
       'suffix': '/484542633_unymNUmw_FdPs3GjXHujmHcYnN4hf8kEPADlOZuIrdcdm97VX3tFqL7fFNMNA_8Gl9NlU1GYg.jpg'}},
     'authorInteractionType': 'liked'}]}}}

In [36]:
tips = result['response']['tips']['items']

In [37]:
tips[0]

{'id': '5ab1cb46c9a517174651d3fe',
 'createdAt': 1521601350,
 'text': 'A+ Italian food! Trust me on this: my moms side of the family is 100% Italian. I was born and bred to know good pasta when I see it, and Ecco is one of my all-time NYC favorites',
 'type': 'user',
 'canonicalUrl': 'https://foursquare.com/item/5ab1cb46c9a517174651d3fe',
 'lang': 'en',
 'likes': {'count': 0, 'groups': []},
 'logView': True,
 'agreeCount': 4,
 'disagreeCount': 0,
 'todo': {'count': 0},
 'user': {'id': '484542633',
  'firstName': 'Nick',
  'lastName': 'E',
  'photo': {'prefix': 'https://fastly.4sqi.net/img/user/',
   'suffix': '/484542633_unymNUmw_FdPs3GjXHujmHcYnN4hf8kEPADlOZuIrdcdm97VX3tFqL7fFNMNA_8Gl9NlU1GYg.jpg'}},
 'authorInteractionType': 'liked'}

In [40]:

tips_df = json_normalize(tips) 
filtered_columns = ['text', 'agreeCount', 'disagreeCount', 'id', 'user.firstName', 'user.lastName', 'user.gender', 'user.id']
tips_filtered = tips_df.loc[:, filtered_columns]

C:\Users\prankhur\AppData\Local\Continuum\anaconda2\lib\site-packages\pandas\core\indexing.py:1418: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [41]:
tips_filtered

,text,agreeCount,disagreeCount,id,user.firstName,user.lastName,user.gender,user.id
0,A+ Italian food! Trust me on this: my moms si...,4,0,5ab1cb46c9a517174651d3fe,Nick,E,NaN,484542633